body{
    font-family: "Open Sans", sans-serif;
    color: black;
    background-color: #ffffff;
}
.container-fluid{
  padding: 0px;
} 

th, td{
  padding: 15px;
  border: 1px solid black;
}

.nav-link:hover{
  text-decoration: underline;
  display: inline-block;
  text-underline-position: under;
  text-decoration-color: #366EEA;
  color: #1977cc !important;
}

.nav-link{
    color: black !important;
}

.consult{
  margin-top: 1%;
  margin-left: 3%;
}