/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: #fff;
}

a {
  color: #366EEA;
}

a:hover {
  color: #366EEA;
  text-decoration: none;
}  

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: 0px;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  
}

#header.header-scrolled {
  top: 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #2c4964;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    top: 0;
  }
  #header .logo {
    font-size: 28px;
  }
}

@media (max-width: 1366px) {
  #dropdownButton {
    margin-top: 5vh;
  }
  #gostos, #comentarios{
    margin-bottom: 2vh;
  }
}

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 20px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #2c4964;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding: 5px 2px;
  border-bottom: 2px solid #fff;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #1977cc;
  border-color: #1977cc;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 14px;
  background: #DCDBDB;
}

  /*--------------------------------------------------------------
  # Horario
  --------------------------------------------------------------*/

.container-fluid {
    padding-top: 12vh !important;
    padding-bottom: 120px !important
}

.card {
    box-shadow: 0px 4px 8px 0px #7986CB
}


.card-header {
    background-color: #366EEA;
}

input {
    padding: 10px 20px !important;
    border: 1px solid #000 !important;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #366EEA !important;
    color: #fff !important;
    font-size: 16px;
    letter-spacing: 1px;
    width: 180px
}

input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #512DA8;
    outline-width: 0
}

::placeholder {
    color: #000;
    opacity: 1
}

:-ms-input-placeholder {
    color: #fff
}

::-ms-input-placeholder {
    color: #fff
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.datepicker {
    background-color: #fff !important;
    color: #000 !important;
    padding: 10px !important
}


thead tr:nth-child(3) th {
    color: #000 !important;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px
}

.dow,
.old-day,
.day,
.new-day {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px !important
}

.old-day:hover,
.day:hover,
.new-day:hover,
.month:hover,
.year:hover,
.decade:hover,
.century:hover {
    border-radius: 6px !important;
    background-color: #eee;
    color: #000
}

.active {
    border-radius: 6px !important;
    background-image: linear-gradient(#90CAF9, #64B5F6) !important;
    color: #000 !important
}

.disabled {
    color: #616161 !important
}

.prev,
.next,
.datepicker-switch {
    border-radius: 0 !important;
    padding: 20px 10px !important;
    text-transform: uppercase;
    font-size: 20px;
    color: #000 !important;
    opacity: 0.8
}

.prev:hover,
.next:hover,
.datepicker-switch:hover {
    background-color: inherit !important;
    opacity: 1
}

.cell {
    border: 1px solid #BDBDBD;
    margin: 2px;
    cursor: pointer
}

.cell:hover {
    border: 1px solid #3D5AFE
}

.cell.select {
    background-color: #3D5AFE;
    color: #fff
}


.fa-calendar {
    color: #fff;
    font-size: 30px;
    padding-top: 8px;
    padding-left: 5px;
    cursor: pointer
}


#marcartxt {
    margin-top: 20vh;
    margin-bottom: -10vh;

}


#btnMarcar {
  margin-bottom: 5vh;
  margin-top: -10vh;
  margin-left: 120vh;
  background-color: #3D5AFE;
  border-radius: 50px;  
}

#contenct{
  margin-top: 100px;
}

#comments {
  background-color: #f1f7fd;
}