/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: #fff;
}

a {
  color: #366EEA;
}

a:hover {
  color: #366EEA;
  text-decoration: none;
}  
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  top: 0px;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
  
}
#header.header-scrolled {
  top: 0;
}
#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}
#header .logo a {
  color: #2c4964;
}
#header .logo img {
  max-height: 40px;
}
@media (max-width: 992px) {
  #header {
    top: 0;
  }
  #header .logo {
    font-size: 28px;
  }
}
.welcomeuser{
  padding-right: 30px;
  padding-top: 15px;
}

.btn {
  border-radius: 99px;
  width: 100px;
}
.btn1 {
  border-radius: 99px;
  width: 150px;
}
/* Menu */

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 20px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #2c4964;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding: 5px 2px;
  border-bottom: 2px solid #fff;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #1977cc;
  border-color: #1977cc;
}


/* Footer */

#footer {
  color: #444444;
  font-size: 14px;
  background: #DCDBDB;
}

.container-fluid {
    padding-top: 12vh !important;
}

.card {
    box-shadow: 0px 4px 8px 0px #7986CB
}


.card-header {
    background-color: #366EEA;
}

input {
    padding: 10px 20px !important;
    border: 1px solid #000 !important;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #366EEA !important;
    color: #fff !important;
    font-size: 16px;
    letter-spacing: 1px;
    width: 180px
}

.datepicker {
    background-color: #fff !important;
    color: #000 !important;
    padding: 10px !important
}


.cell {
    border: 1px solid #BDBDBD;
    margin: 2px;
    cursor: pointer
}

.cell:hover {
    border: 1px solid #3D5AFE
}

.cell.select {
    background-color: #3D5AFE;
    color: #fff
}

.fa-calendar {
    color: #fff;
    font-size: 30px;
    padding-top: 8px;
    padding-left: 5px;
    cursor: pointer
}

#marcartxt {
    margin-top: 20vh;
    margin-bottom: -10vh;
}

#btnMarcar {
  margin-left: 115vh; 
  background-color: #3D5AFE;
  border-radius: 50px;  
}

#contenct{
  margin-top: 100px;
}
