body{
    font-family: "Open Sans", sans-serif;
    color: black;
    background-color: #fff;
}
.container-fluid{
  padding: 0px;
}

li {
  list-style-type: none;
}

.nav-link:hover{
  text-decoration: underline;
  display: inline-block;
  text-underline-position: under;
  text-decoration-color: #366EEA;
  color: #1977cc !important;
}

.nav-link{
  color: black !important;
}


.img-fluid{
    object-fit: none;
    display: flex;
    object-position: center;
    width: 100%;
    max-height: 460px;
    margin-bottom: 20px;

}

.btn{
    border-radius: 99px;
    width: 100px;
}
.img{
  height: 100%;
  display: inline-block;
  vertical-align:top; /*to remove unwanted whitespace */
  position: absolute;
}

.image_presentation{
    object-fit: cover;
    position: relative;
}

.h1{
    position: absolute;
}

.btnimage {
    position: absolute;
    top: 32%;
    left: 11.5%;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 99px;
    width: 200px;
}

.btnmore{
  position: absolute;
    top: 80%;
    left: 15%;
    font-size: 16px;
    padding: 12px 12px;
    cursor: pointer;
    border-radius: 99px;
    width: 200px;
}

.card-body h5{
  font-weight: bold;
  text-align: center;
}

.welcometext {
    position: absolute;
    top: 12%;
    left: 10%;
    color: black;
    font-weight: bold;
    font-size: 40px;
    padding: 12px 24px;
    cursor: pointer;
    width: 1000px;
}

.welcometext2 {
    position: absolute;
    top: 20%;
    left: 10%;
    color: black;
    font-size: 30px;
    padding: 12px 24px;
    cursor: pointer;
    width: 1000px;
}

.why-us{
    position: absolute;
    padding: 30px;
    top: 55%;
    left: 10%;
    width: 20%;
    background: #366EEA;
    border-radius: 4px;
    color: #fff;
}

.simple{
  position: absolute;
  padding: 30px;
  text-align: center;
  top: 60%;
  left: 35%;
  width: 20%;
  background: #fff;
  border-radius: 4px;
  color: black;
}

.serv{
  position: absolute;
  padding: 30px;
  text-align: center;
  top: 60%;
  left: 55%;
  width: 20%;
  background: #fff;
  border-radius: 4px;
  color: black;
}

.client{
  position: absolute;
  padding: 30px;
  text-align: center;
  top: 60%;
  left: 75%;
  width: 20%;
  background: #fff;
  border-radius: 4px;
  color: black;
}

.video{
  background-color: #99CEFD;
}

.services{
  text-align: center;
}

.det{
  position: absolute;
  padding: 30px;
  text-align: center;
  top: 100%;
  left: 20%;
  width: 20%;
  background: #fff;
  border-radius: 4px;
  color: black;
}

.ant{
  position: absolute;
  padding: 30px;
  text-align: center;
  top: 100%;
  left: 40%;
  width: 20%;
  background: #fff;
  border-radius: 4px;
  color: black;
}

.sero{
  position: absolute;
  padding: 30px;
  text-align: center;
  top: 100%;
  left: 60%;
  width: 20%;
  background: #fff;
  border-radius: 4px;
  color: black;
}

.contact{
  text-align: center;
}

.contact h3{
  font-weight: bold;
}

.contact label{
  font-weight: bold;
}



