body{
    font-family: "Open Sans", sans-serif;
    color: black;
    background-color: #fff;
}
.container-fluid{
  padding: 0px;
}

li {
  list-style-type: none;
}

.nav-link:hover{
  text-decoration: underline;
  display: inline-block;
  text-underline-position: under;
  text-decoration-color: #366EEA;
  color: #1977cc !important;
}

.nav-link{
  color: black !important;
}


.img-fluid{
    object-fit: none;
    display: flex;
    object-position: center;
    width: 100%;
    max-height: 460px;
    margin-bottom: 20px;

}

.btn{
    border-radius: 99px;
    width: 100px;
}
.img{
  height: 100%;
  display: inline-block;
  vertical-align:top; /*to remove unwanted whitespace */
  position: absolute;
}

.image_presentation{
    object-fit: cover;
    position: relative;
}

.h1{
    position: absolute;
}

.btnimage {
    position: absolute;
    top: 32%;
    left: 11.5%;
    font-size: 16px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 99px;
    width: 200px;
}

.btnmore{
  position: absolute;
    top: 80%;
    left: 15%;
    font-size: 16px;
    padding: 12px 12px;
    cursor: pointer;
    border-radius: 99px;
    width: 200px;
}

.card-body h5{
  font-weight: bold;
  text-align: center;
}

.welcometext {
    position: absolute;
    top: 12%;
    left: 10%;
    color: black;
    font-weight: bold;
    font-size: 40px;
    padding: 12px 24px;
    cursor: pointer;
    width: 1000px;
}

.welcometext2 {
    position: absolute;
    top: 20%;
    left: 10%;
    color: black;
    font-size: 30px;
    padding: 12px 24px;
    cursor: pointer;
    width: 1000px;
}

.why-us{
    position: absolute;
    padding: 30px;
    top: 55%;
    left: 10%;
    width: 20%;
    background: #366EEA;
    border-radius: 4px;
    color: #fff;
}
  
.why-us .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}
  
.why-us .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 6px 30px 8px 30px;
    color: #f2f2f2;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}
.why-us .icon-boxes .icon-box1 {
    position: absolute;
    top: 55%;
    left: 32%;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    
}
.why-us .icon-boxes .icon-box2 {
    position: absolute;
    top: 55%;
    left: 53%;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    
}
.why-us .icon-boxes .icon-box3 {
    position: absolute;
    top: 55%;
    left: 74%;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    
}

/* # Services */

.section-title{
  text-align: center;
}

.services .icon-box {
  text-align: center;
  border: 1px solid #d5e1ed;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
  display: inline-block;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #2c4964;
  text-decoration: none;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  background: #1977cc;
  border-color: #1977cc;
}

.services .icon-box:hover .icon {
  background: #fff;
}

.services .icon-box:hover .icon i {
  color: #1977cc;
}

.services .icon-box:hover .icon::before {
  background: #366EEA;
}

.services .icon-box:hover h4 a, .services .icon-box:hover p {
  color: #fff;
}

